.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.header .navbar img{
    margin-bottom: 8px;
}

#text_1{
    font-size: 20px;
}

#text_2{
    font-size: 4px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: inherit;
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
    cursor:pointer;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    font-size: 24px;

}

.nav-item .active {
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(226, 82, 255);
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(226, 82, 255);
    color: #ffffff;
}

.hamburger {
    display: none;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: left;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}

.nav-item a{
    text-decoration: none;
      color: inherit;
}

.logout-button a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.logout-button a:hover{
   color: rgb(248, 167, 255);
}
